<div>
  <ng-include src="'templates/tabs.template.html'"></ng-include><br />
  <ng-include src="'templates/seconds.template.html'"></ng-include><br />
  <ng-include src="'templates/minutes.template.html'"></ng-include><br />
  <ng-include src="'templates/hours.template.html'"></ng-include><br />
  <ng-include src="'templates/month-days.template.html'"></ng-include><br />
  <ng-include src="'templates/months.template.html'"></ng-include><br />
  <ng-include src="'templates/week-days.template.html'"></ng-include><br />
</div>