<label>Months: 
  <select ng-model='frequencyCreated.months' ng-options='month for month in frequencyValues.months'></select>
</label>
<label> on: 
  <select ng-model='daysOfMonth.seconds' ng-options='dayOfMonth for dayOfMonth in frequencyValues.daysOfMonth'></select>
</label>
<label> at 
  <select ng-model='frequencyCreated.hours' ng-options='hour for hour in frequencyValues.hours'></select> :
  <select ng-model='frequencyCreated.minutes' ng-options='minute for minute in frequencyValues.minutes'></select> :
  <select ng-model='frequencyCreated.seconds' ng-options='second for second in frequencyValues.seconds'></select>
</label>
