<label>Day of Week: 
  <select ng-model='frequencyCreated.daysOfWeek' ng-options='dayOfWeek for dayOfWeek in frequencyValues.daysOfWeek'></select>
</label>
<label> at 
  <select ng-model='frequencyCreated.hours' ng-options='hour for hour in frequencyValues.hours'></select> :
  <select ng-model='frequencyCreated.minutes' ng-options='minute for minute in frequencyValues.minutes'></select> :
  <select ng-model='frequencyCreated.seconds' ng-options='second for second in frequencyValues.seconds'></select>
</label>
